@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Poppins&display=swap");

@font-face {
  font-family: "arialbi";
  src: url("/fonts/arialbi.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "calibri";
  src: url("/fonts/calibri.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "calibrib";
  src: url("/fonts/calibrib.ttf");
  font-weight: bold;
  font-style: normal;
}

body {
  /* background-color: #0c0c0c;
  color: #fff; */
  background-color: #fff;
  color: #000;
}

.main-container {
  padding-bottom: 6%;
}

.ellipse1 {
  border: 2px solid #8c6700;
  width: 37vw;
  height: 37vw;
  border-radius: 50%;
  position: absolute;
  margin-top: 11%;
  margin-left: 20%;
  animation: ellipse1-trans 12s infinite alternate-reverse;
}

@keyframes ellipse1-trans {
  from {
    transform: rotateY(30deg);
  }
  to {
    transform: rotateY(-500deg);
    margin-left: -20%;
  }
}
/* 
.ellipse2 {
  border: 2px solid #8c6700;
  width: 40vw;
  height: 50vw;
  border-radius: 50%;
  position: absolute;
  margin-top: 10%;
  margin-left: 20%;
  animation: ellipse1-trans2 14s infinite alternate-reverse;
} */

/* @keyframes ellipse1-trans2 {
  from {
    transform: rotateY(50deg);
  }
  to {
    transform: rotateY(-500deg);
    margin-left: -20%;
  }
} */

.ellipse3 {
  border: 2px solid #8c6700;
  width: 37vw;
  height: 37vw;
  border-radius: 50%;
  position: absolute;
  margin-top: 11%;
  margin-left: 20%;
  animation: ellipse1-trans3 16s infinite alternate-reverse;
}

@keyframes ellipse1-trans3 {
  from {
    transform: rotateY(100deg);
  }
  to {
    transform: rotateY(-400deg);
    margin-left: -20%;
  }
}

.making-ellipse {
  display: flex;
  justify-content: center;
  position: relative;
}

nav {
  display: flex;
  justify-content: center;
}

nav img {
  width: 73px;
  margin-top: 43%;
}

header nav svg {
  margin-top: -14px;
}

.hi {
  color: orange;
  display: flex;
}

#red {
  display: none;
}

.dit-guy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12%;
}

.dit-guy h1 {
  text-align: center;
  font-size: 3.2rem;
  font-style: italic;
  font-family: "Ppeditorialnew, Times New Roman, sans-serif";
  word-spacing: 8px;
  letter-spacing: -3px;
  line-height: 1.2;
  margin-top: 3%;
  font-size: 5rem;
}

.dit-guy p {
  font-family: "calibri";
  font-size: 22px;
  margin-top: 1%;
  max-width: 45%;
  text-align: center;
}

.fixed-nav {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #ffffff;
  color: #000;
  border-radius: 50px;
  text-align: center;
  border: 1px solid #000;
}

.center {
  position: fixed;
  left: 37%;
  top: 86%;
  z-index: 1;
}

.fixed-nav li a {
  border-radius: 20px;
  font-size: 14px;
}

.fixed-nav li a:hover {
  color: #474343;
  transition: all 0.2xs ease-out;
}

.fixed-nav li {
  padding: 4px 2px;
  border-radius: 20px;
}

.navbar svg {
  margin-top: 1px;
  transition: all 0.3s ease-in-out;
  stroke: #000;
}

.fixed-nav li a:hover svg {
  transform: rotate(45deg);
}

.hover li {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 18px;
}

.hover li:hover {
  margin-left: 14px;
  transition: all 0.3s ease-in-out;
}

.hover {
  position: absolute;
  top: 10px;
  left: -30px;
  transform: translateY(-105%);
  background-color: #fff;
  width: 220px;
  padding: 10px 30px;
  border-radius: 10px;
  display: none;
  transition: all 0.3s ease;
}

.relative {
  position: relative;
}

.relative:hover .hover {
  display: block;
  transition: all 0.3s ease-in;
}

.header-dot {
  width: 8px;
  height: 8px;
  border-radius: 20px;
  background-color: #fff;
}

.header-dot-df {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

#without-break {
  display: none;
}

.header-sun svg {
  display: none;
}

.cor-sun-df svg {
  width: 96px;
  animation: core-sun 8s infinite linear;
}

.cor-sun-df svg path {
  fill: #000;
}

.cor-sun-df h1 {
  font-size: 6.5rem;
  margin-top: 10%;
  font-family: "Poppins";
  transition: all 0.2s ease-in;
}

.cor-sun-df {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.we-give {
  max-width: 61vw;
  margin-left: 22%;
  margin-top: 7%;
}

.we-use {
  max-width: 67vw;
  margin-left: 14%;
  margin-top: 15%;
}

#we-give-one {
  transition: all 0.4s ease;
  margin-left: -3%;
}

.use-border {
  transition: all 0.3s ease-in;
  width: 78vw;
  margin-left: 0;
  border: 1px dashed #fff;
  height: 2px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.help-border,
.have-border,
.we-border,
.give-border {
  transition: all 0.2s ease-in;
}

.give-border {
  width: 72vw;
  margin-left: -2%;
  border: 1px dashed #fff;
  height: 2px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.have-adv,
.use-adv,
.give-adv {
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in;
  margin-left: 7%;
}

.help-cirlce,
.have-cirlce,
.use-cirlce,
.give-cirlce {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 1%;
}

#adv1,
#have-adv1,
#use-adv1,
#give-adv1 {
  transition: all 0.3s ease-out;
}
#adv2,
#have-adv2,
#use-adv2,
#give-adv2 {
  transition: all 0.6s ease-out;
}
#adv3,
#have-adv3,
#use-adv3,
#give-adv3 {
  transition: all 0.9s ease-out;
}

.we-use h1,
.we-give h1 {
  font-size: 2.7rem;
  font-family: "Ppeditorialnew, Times New Roman, sans-serif";
  font-style: italic;
  word-spacing: 4px;
  letter-spacing: 0px;
}

.we-give p {
  text-align: left;
  width: 50%;
  font-size: 18px;
  margin-left: -1%;
  transition: all 0.4s ease;
}

.we-use p {
  text-align: left;
  width: 50%;
  font-size: 18px;
  margin-left: 1%;
  transition: all 0.4s ease;
}

.we-help-u p {
  text-align: left;
  width: 40%;
  font-size: 18px;
  margin-left: 1%;
  transition: all 0.4s ease;
}

#we-blue {
  transition: all 0.3s ease;
}

#help-red {
  font-size: 2.7rem;
  font-family: "Ppeditorialnew, Times New Roman, sans-serif";
  font-style: italic;
  word-spacing: 4px;
  letter-spacing: 0px;
}

.help-border {
  border: 1px dashed #fff;
  height: 2px;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 89vw;
}

.we-help-u {
  max-width: 84vw;
  margin-left: 3%;
  margin-top: 16%;
}

.how-we-do {
  overflow: hidden;
}

.our-relationship {
  overflow: hidden;
}

.relation-df {
  gap: 5%;
  display: flex;
  align-items: center;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin-top: 12%;
  margin-bottom: 10%;
  width: 300vw;
  animation: relationship-slide 12s infinite alternate;
  padding: 15px 0;
  font-family: "calibri";
}

#rotate-flower {
  width: 45px;
  animation: rotate-flow 7s infinite linear;
}

@keyframes rotate-flow {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.how-para {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  gap: 4%;
}

.how-para p {
  max-width: 27%;
  text-align: center;
  font-size: 18px;
}

@keyframes relationship-slide {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: -90%;
  }
}

.red-dot2 {
  width: 30px;
  height: 30px;
  background-color: #f4a100;
  border-radius: 20px;
}

.nik-image {
  justify-content: center;
  display: flex;
}

.box-image {
  justify-content: center;
  display: flex;
}

.nik-sharma {
  position: relative;
}

.box1 {
  position: relative;
}

.nik-hover {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  display: none;
}

.box-hover {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 4%;
  width: 100%;
  display: none;
}

.nik-image img {
  width: 95%;
  height: 630px;
  object-fit: cover;
  border-radius: 10px;
}

.box-image img {
  width: 82%;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 5%;
}

.box-max {
  width: 82%;
  height: 499px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #18db66;
  color: #fff;
  border-radius: 10px;
  transition: all 4s ease;
}

.nik-max {
  width: 95%;
  height: 630px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4845ff;
  color: #fff;
  border-radius: 10px;
  transition: all 4s ease;
}

.nik-hover h1 {
  font-size: 6.5rem;
  font-family: "calibri";
  font-style: italic;
  line-height: 86px;
  margin-top: 10%;
}

.nik-hover p {
  margin-top: 4%;
  font-size: 1.2rem;
}

.box-hover h1 {
  font-size: 6.5rem;
  font-family: "calibri";
  font-style: italic;
  line-height: 86px;
  margin-top: 25%;
}

.box-hover p {
  margin-top: 3%;
  font-size: 1.4rem;
}

.nik-max button {
  background-color: #fff;
  color: #4845ff;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  padding: 10px 17px;
  margin-top: 2%;
}

#sharma {
  margin-left: 24%;
}

.nik-sharma:hover .nik-hover {
  display: flex;
  opacity: 0.9;
}

.box1:hover .box-hover {
  display: flex;
  opacity: 0.9;
}

.team-first-row {
  display: flex;
  justify-content: space-around;
}
@keyframes core-sun {
  to {
    transform: rotate(0);
  }
  from {
    transform: rotate(360deg);
  }
}

.numbers {
  margin-top: 7%;
  background: #edf1ed85;
}

.quality-df {
  display: flex;
  justify-content: space-between;
}

.quality-content {
  max-width: 50%;
}

.process {
  background-color: aliceblue;
}

.quality-img img {
  width: 350px;
}

.quality-heading {
  margin-top: 8%;
}

.quality-heading h1,
.testing-control h1 {
  font-size: 2rem;
  font-family: "calibrib";
}

.quality-info p {
  margin-top: 15px;
}

.testing-image img {
  width: 360px;
  /* height: 600px; */
}

.testing-dis-fl {
  gap: 3%;
  display: flex;
}

.testing-control {
  margin-top: 5%;
}

.certificatiion {
  margin-top: 8%;
}

.testing-control p {
  margin-top: 10px;
}

.testing-control ul {
  margin-top: 5%;
  margin-left: 2%;
  max-width: 55%;
}

.testing-control ul > div {
  margin-top: 2%;
}

.testing-dots {
  width: 7px;
  height: 7px;
  background-color: #000;
  border-radius: 50%;
}

.testing-df {
  display: flex;
  align-items: center;
  gap: 10px;
}

.certi-image img {
  width: 220px;
  margin-top: 1%;
}

.certi-image {
  display: flex;
  gap: 2%;
}

.company-text {
  transform: translateX(-50%);
}

.companyVision-text {
  transform: translateX(50%);
}

.company-para-intersect {
  transform: translateX(0);
  transition: all 2s ease;
}

.companyVision-intersect {
  transform: translateX(0);
  transition: all 3s ease;
}

.company-values {
  transform: translateX(-30%);
}

.company-values-intersect {
  transition: all 1s ease;
  transform: translateX(0);
}

.number3 {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  margin-bottom: 9%;
}

.number2 {
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-head {
  margin-left: 8%;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.number-head h2 {
  font-size: 2.9rem;
  font-style: italic;
  font-family: "Ppeditorialnew, Times New Roman, sans-serif";
  letter-spacing: -2px;
  word-spacing: 7px;
}

#number-para1,
#number-para3,
#number-para4 {
  font-size: 22px;
  max-width: 60%;
  margin-top: 10px;
  color: #0f0e0e;
  text-align: left;
  font-family: "calibri";
}

#number-para2 {
  font-size: 22px;
  max-width: 76%;
  margin-top: 10px;
  color: #0d0d0d;
  text-align: left;
  font-family: "calibri";
}

.number1 .number-head h2 {
  color: red;
}

.number2 .number-head h2 {
  color: rgb(47, 0, 255);
}

.number3 .number-head h2 {
  color: rgb(255, 21, 0);
}

.number4 .number-head h2 {
  color: rgb(47, 0, 255);
}
.number2 ul {
  margin-top: 4%;
}

.number2 ul li {
  font-family: "calibri";
  font-size: 20px;
  margin-top: 2%;
}

.numbers-dot {
  width: 9px;
  height: 9px;
  background-color: #000;
  border-radius: 50%;
}

.mission-df,
.number3-df {
  display: flex;
  align-items: baseline;
  gap: 11px;
}

.number3 li {
  font-family: "calibri";
  font-size: 22px;
  margin-top: 3%;
  margin-top: 10px;
}

#building {
  max-width: 75%;
}

.number3 ul {
  margin-top: 10px;
}

#core-sun-small {
  width: 48px;
}

.our-relationship h1 {
  font-family: "calibrib";
  font-size: 2rem;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.green-dots {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(31, 201, 31);
}

.ideas {
  display: flex;
  align-items: center;
  gap: 50px;
}

.ideas h1 {
  font-size: 2rem;
  text-wrap: nowrap;
}

.design-carasoul {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 4%;
  padding: 10px 0;
  margin-top: 7%;
  animation: design-expert 30s infinite linear;
}

#little {
  text-align: center;
  font-size: 20px;
  margin-top: 3%;
  color: #e8e8e8;
}

.little-top {
  margin-top: -5%;
}

.meet-team-heading h1 {
  text-align: center;
  font-size: 7rem;
  font-family: "calibri";
  font-style: italic;
  letter-spacing: -2px;
}

.red {
  color: red;
}

#first-comp {
  margin-top: -9%;
}

.about-more-content p {
  margin-top: 2%;
  color: #ececec;
}

.about-more-content {
  padding: 0 6% 3% 6%;
}

.about-more-content ul {
  margin-top: 2%;
}

.more-content-dots {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ffffff;
}

.more-content-df {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-us-info {
  background: linear-gradient(45deg, #4c84b1, #6cb4ee);
  color: #fff;
  margin-top: 15%;
}

.about-us-info-text-heading {
  padding-top: 5%;
  padding-bottom: 3%;
}

.about-us-info-text-heading h1 {
  font-size: 5rem;
  font-family: calibrib;
  text-align: center;
  color: indigo;
}

.about-us-info-image img {
  width: 560px;
}

.about-us-info-text {
  max-width: 60%;
}

.about-us-info-text-para p {
  margin-top: 4%;
  color: #ececec;
}

.about-us-info-text-para {
  padding: 1% 10%;
}

.about-us-content-df {
  display: flex;
  align-items: end;
  padding-bottom: 10%;
}

.process-steps {
  /* position: relative; */
  margin-bottom: 70%;
  background-color: aliceblue;
}

#first h2 {
  margin-top: 10px;
}

#first {
  position: absolute;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 115px;
  border: 3px dashed;
  border-radius: 50%;
}

@keyframes first-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.steps-first {
  animation: first-fade 1s;
}

#first:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

#second {
  position: absolute;
  margin-top: 3%;
  left: 12.6%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border: 3px dashed;
  border-radius: 50%;
}

#second:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-second {
  animation: second-fade 2s;
}

@keyframes second-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#third {
  position: absolute;
  margin-top: 1.5%;
  left: 18.7%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95px;
  height: 95px;
  border: 3px dashed;
  border-radius: 50%;
}

#third:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-third {
  animation: third-fade 3s;
}

@keyframes third-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#fourth {
  padding: 8px;
  position: absolute;
  margin-top: -1%;
  left: 25.2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
}

#fourth:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-fourth {
  animation: fourth-fade 4s;
}

@keyframes fourth-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#fifth {
  padding: 8px;
  position: absolute;
  margin-top: 7.4%;
  left: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 145px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
}

#fifth:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-fifth {
  animation: fifth-fade 5s;
}

@keyframes fifth-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#six {
  padding: 8px;
  position: absolute;
  margin-top: 11%;
  left: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
}

#six:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-six {
  animation: six-fade 6s;
}

@keyframes six-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#seven {
  padding: 8px;
  position: absolute;
  margin-top: 8%;
  left: 39.9%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 142px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#seven:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-seven {
  animation: seven-fade 7s;
}

@keyframes seven-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#eight {
  padding: 8px;
  position: absolute;
  margin-top: 13%;
  left: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 124px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#eight:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-eight {
  animation: eight-fade 5s;
}

@keyframes eight-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#nine {
  padding: 8px;
  position: absolute;
  margin-top: 21.7%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#nine:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-nine {
  animation: nine-fade 6s;
}

@keyframes nine-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#ten {
  padding: 8px;
  position: absolute;
  margin-top: 30.7%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 157px;
  height: 148px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#ten:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-ten {
  animation: ten-fade 7s;
}

@keyframes ten-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#eleven {
  padding: 8px;
  position: absolute;
  margin-top: 30%;
  left: 40.1%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 141px;
  height: 140px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#eleven:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-eleven {
  animation: eleven-fade 7s;
}

@keyframes eleven-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#twelve {
  padding: 8px;
  position: absolute;
  margin-top: 27%;
  left: 31.2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 133px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#twelve:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-twelve {
  animation: twelve-fade 8s;
}

@keyframes twelve-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#thirteen {
  padding: 8px;
  position: absolute;
  margin-top: 26%;
  left: 22%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 133px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#thirteen:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-thirteen {
  animation: thirteen-fade 13s;
}

@keyframes thirteen-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#fourteen {
  padding: 8px;
  position: absolute;
  margin-top: 41%;
  left: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 123px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#fourteen:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-fourteen {
  animation: fourteen-fade 10s;
}

@keyframes fourteen-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#fifteen {
  padding: 8px;
  position: absolute;
  margin-top: 44%;
  left: 39.9%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 136px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#fifteen:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-fifteen {
  animation: fifteen-fade 7s;
}

@keyframes fifteen-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#sixteen {
  padding: 8px;
  position: absolute;
  margin-top: 43%;
  left: 31.6%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 116px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#sixteen:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-sixteen {
  animation: sixteen-fade 6s;
}

@keyframes sixteen-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#seventeen {
  padding: 8px;
  position: absolute;
  margin-top: 47%;
  left: 24.6%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 116px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#seventeen:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-seventeen {
  animation: seventeen-fade 6s;
}

@keyframes seventeen-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#eighteen {
  padding: 8px;
  position: absolute;
  margin-top: 54.5%;
  left: 19.6%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  height: 136px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#eighteen:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-eighteen {
  animation: eighteen-fade 5s;
}

@keyframes eighteen-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.steps h2 {
  text-transform: capitalize;
  text-align: center;
  font-size: 19px;
  font-family: "calibri";
}

#third h2 {
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
}

#fourth h2 {
  line-height: 1.3;
  font-size: 15px;
}

#seventeen h2 {
  font-family: "calibrib";
  font-size: 20px;
}

#thirteen h2,
#first h2 {
  color: #3a38b2;
  font-family: "calibrib";
}

.process-animation-one {
  transform: translateX(80%);
}
.process-animation-two {
  transform: translateX(-50%);
}
.process-animation-three {
  transform: translateX(50%);
}
.process-animation-four {
  transform: translateX(-30%);
}

.process-intersect-one {
  transform: translateX(0);
  transition: all 2s ease;
}

.process-intersect-two {
  transform: translateX(0);
  transition: all 2s ease;
}

.process-intersect-three {
  transform: translateX(0);
  transition: all 2s ease;
}
.process-intersect-four {
  transform: translateY(0);
  transition: all 2s ease;
}

.maufacturing-heading h1 {
  text-align: center;
  font-size: 4rem;
  font-family: "calibrib";
  margin-bottom: 10%;
}

.cogguarted-tanks-info h1 {
  text-align: left;
  font-size: 2rem;
  font-family: "calibrib";
  margin-top: 4%;
}

.cogguarted-tanks-info-para,
.coggurated-fins-walls-content {
  text-align: left;
  max-width: 60%;
}

.cogguarted-tanks-info-df {
  display: flex;
  gap: 5%;
  align-items: center;
}

.coggurated-fins-walls-df {
  display: flex;
  gap: 8%;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 2%;
}

.other-info {
  background-color: aliceblue;
  margin-top: -4%;
  padding: 7px 6% 4% 6%;
}

.certification-heading h1 {
  font-size: 2rem;
  font-family: "calibrib";
  margin-top: 3%;
}

.coruggated-image img,
.coggurated-fins-walls-img img {
  width: 400px;
}

.other-info p {
  margin-top: 20px;
  animation: little-fade linear;
  animation-timeline: view();
  animation-range: entry 50% cover 50%;
}

.about-us-info-text-para p,
.about-more-content p,
.about-more-content ul {
  margin-top: 20px;
  animation: little-fade linear;
  animation-timeline: view();
  animation-range: entry 30% cover 30%;
}

@keyframes little-fade {
  from {
    scale: 0.8;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

.coggurated-fins-walls-heading h1 {
  font-size: 2rem;
  font-family: "calibrib";

  margin-top: 11%;
  text-transform: capitalize;
}

.coggurated-fins-walls-content {
  text-align: left;
}

.coggurated-fins-walls-content p {
  margin-top: 20px;
}

.footer-df1 {
  display: flex;
  justify-content: center;
}

.footer-width {
  width: 96%;
  margin-top: 10%;
}

.fotter-mid-top-left svg {
  width: 250px;
}

.fotter-mid-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  border-top: 1px dashed #000;
  border-bottom: 1px dashed #000;
  padding: 3% 0;
}

.fotter-mid-top-right ul {
  display: flex;
}

.fotter-mid-top-right ul li a {
  margin: 10px;
  color: #fff;
}

#green {
  background: #15d161;
  border-radius: 21px;
  padding: 8px 20px;
}

#blue {
  background: #4745ff;
  border-radius: 21px;
  padding: 8px 20px;
}

#red {
  background: #cd2b29;
  border-radius: 21px;
  padding: 8px 20px;
}

#yellow {
  background: #f4a100;
  border-radius: 21px;
  padding: 8px 20px;
}

.fotter-mid-bottom-right {
  margin-top: 25px;
}

.fotter-mid-center-right {
  margin-left: 17%;
}

.footer-nav {
  display: none;
}

.footer-center {
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  width: 100%;
  padding-bottom: 2%;
  margin-top: 2%;
}

.footer-df {
  display: flex;
  justify-content: center;
}

.footer-center h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.footer-search input {
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 17px;
  padding: 8px 16px;
  outline: none;
  border-bottom: 1px solid #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.footer-search button {
  margin-left: 10px;
}

.footer-end {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.footer-end-right {
  display: flex;
}

#terms-cond {
  list-style: none;
}

.footer-end h2 {
  font-size: 1.2rem;
}

.footer-end li {
  font-size: 18px;
  text-transform: uppercase;
  margin-left: 19px;
}

.footer-social {
  display: none;
}

@keyframes design-expert {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: -340vw;
  }
}

@media screen and (max-width: 768px) {
  .cor-sun-df {
    margin-top: 4%;
    margin-bottom: 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav img {
    width: 54px;
    margin-top: 26%;
  }

  .about-us-info-text-heading h1 {
    font-size: 3rem;
    font-family: calibrib;
    text-align: center;
  }

  .about-us-content-df {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about-us-info-text-para {
    padding: 7%;
  }

  .maufacturing-heading h1 {
    text-align: center;
    font-size: 2rem;
    font-family: "calibrib";
    margin-bottom: 10%;
  }

  .steps-container h2 {
    font-size: 14px;
  }

  #third h2 {
    font-size: 14px;
  }

  #fourth h2 {
    line-height: 1.3;
    font-size: 12px;
  }

  #fifth h2 {
    line-height: 1.3;
    font-size: 11px;
  }

  #seven h2 {
    line-height: 1.3;
    font-size: 10px;
  }

  #eight h2 {
    line-height: 1.3;
    font-size: 10px;
  }

  #nine h2 {
    line-height: 1.3;
    font-size: 10px;
  }

  #first {
    position: absolute;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 3px dashed;
    border-radius: 50%;
    text-align: center;
  }

  #second {
    position: absolute;
    margin-top: 6%;
    left: 19%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border: 3px dashed;
    border-radius: 50%;
  }

  #third {
    position: absolute;
    margin-top: 1%;
    left: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
    border: 3px dashed;
    border-radius: 50%;
  }

  #fourth {
    position: absolute;
    margin-top: -5%;
    left: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 82px;
    border: 3px dashed;
    border-radius: 50%;
  }

  #fifth {
    position: absolute;
    margin-top: 14%;
    left: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97px;
    height: 94px;
    border: 3px dashed;
    border-radius: 50%;
  }

  #six {
    position: absolute;
    margin-top: 19%;
    left: 68%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
    height: 65px;
    border: 3px dashed;
    border-radius: 50%;
  }

  #seven {
    position: absolute;
    margin-top: 33%;
    left: 74%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 86px;
    border: 3px dashed;
    border-radius: 50%;
  }

  #eight {
    position: absolute;
    margin-top: 53%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 65px;
    border: 3px dashed;
    border-radius: 50%;
  }

  #nine {
    position: absolute;
    margin-top: 63%;
    left: 67%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 75px;
    border: 3px dashed;
    border-radius: 50%;
  }

  #ten {
    position: absolute;
    margin-top: 79%;
    left: 73%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94px;
    height: 95px;
    border: 3px dashed;
    border-radius: 50%;
  }

  #eleven {
    position: absolute;
    margin-top: 75%;
    left: 49%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 103px;
    height: 99px;
    border: 3px dashed;
    border-radius: 50%;
  }

  #twelve {
    position: absolute;
    margin-top: 68%;
    left: 31%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 82px;
    border: 3px dashed;
    border-radius: 50%;
  }

  #thirteen {
    position: absolute;
    margin-top: 68%;
    left: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 82px;
    border: 3px dashed;
    border-radius: 50%;
  }

  #fourteen {
    position: absolute;
    margin-top: 101%;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 72px;
    border: 3px dashed;
    border-radius: 50%;
  }

  #fifteen {
    position: absolute;
    margin-top: 106%;
    left: 53%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 72px;
    border: 3px dashed;
    border-radius: 50%;
  }

  #sixteen {
    position: absolute;
    margin-top: 106%;
    left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 76px;
    height: 72px;
    border: 3px dashed;
    border-radius: 50%;
  }

  #seventeen {
    position: absolute;
    margin-top: 106%;
    left: 14%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 91px;
    height: 89px;
    border: 3px dashed;
    border-radius: 50%;
  }

  #eighteen {
    position: absolute;
    margin-top: 127%;
    left: 19%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border: 3px dashed;
    border-radius: 50%;
  }

  .process-steps {
    background-color: #fff;
    margin-top: 9%;
    margin-bottom: 100vh;
  }

  .about-us-info-text {
    max-width: 100%;
  }

  .about-us-info-image img {
    width: 310px;
  }

  .about-us-info-text-para p {
    font-size: 14px;
    margin-top: 20px;
  }

  #without-break {
    display: block;
    font-size: 1.8rem;
    max-width: 78%;
  }

  #with-break {
    display: block;
  }

  .dit-guy h1 {
    text-align: center;
    font-style: italic;
    font-family: "Ppeditorialnew, Times New Roman, sans-serif";
    word-spacing: 8px;
    letter-spacing: -3px;
    line-height: 1.2;
    margin-top: 3%;
    font-size: 3rem;
  }

  .dit-guy p {
    font-size: 17px;
    margin-top: 36px;
    max-width: 87%;
    text-align: center;
    text-transform: lowercase;
    line-height: 1.2;
  }

  .dit-guy {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10%;
    margin-bottom: 51%;
  }

  .about-more-content p,
  .about-more-content ul li {
    font-size: 14px;
  }

  .ellipse1 {
    border: 1px solid #8c6700;
    width: 60vw;
    height: 84vw;
    border-radius: 50%;
    position: absolute;
    margin-top: 30%;
    margin-left: 13%;
    animation: ellipse1-trans3 10s infinite alternate-reverse;
  }

  /* .ellipse2 {
    border: 1px solid #8c6700;
    width: 100vw;
    height: 110vw;
    border-radius: 50%;
    position: absolute;
    margin-top: 30%;
    margin-left: 13%;
    animation: ellipse1-trans3 12s infinite alternate-reverse;
  } */

  .ellipse3 {
    border: 1px solid #8c6700;
    width: 60vw;
    height: 84vw;
    border-radius: 50%;
    position: absolute;
    margin-top: 30%;
    margin-left: 13%;
    animation: ellipse1-trans3 14s infinite alternate-reverse;
  }

  .header-heading {
    margin-top: 40%;
  }

  .header-dot {
    display: none;
  }

  .header-sun svg {
    display: block;
    width: 28px;
    animation: header-sun 4s infinite linear;
    margin-top: 40%;
  }

  .fixed-nav {
    flex-direction: column;
    gap: 0;
  }

  .center {
    position: fixed;
    left: 83%;
    top: 83%;
  }

  .relative:hover .hover {
    display: block;
    transition: all 0.3s ease-in;
    margin-left: -10%;
  }

  .hover {
    top: 10px;
    left: -176px;
  }

  .fixed-nav .dis-no-in-big-screen a {
    display: flex;
    flex-direction: row-reverse;
    font-size: 16px;
    gap: 10px;
  }

  li.dis-no-in-big-screen {
    display: flex;
  }

  .dis-no {
    display: none;
  }

  @keyframes header-sun {
    to {
      transform: rotate(0);
    }
    from {
      transform: rotate(360deg);
    }
  }

  .cor-sun-df h1 {
    font-size: 2.5rem;
    margin-top: 10%;
    font-family: "Poppins";
    transition: all 0.2s ease-in;
  }

  .core-values {
    margin-top: 60%;
  }

  .cor-sun-df svg {
    width: 48px;
    animation: core-sun 8s infinite linear;
  }

  .give-border {
    width: 83vw;
    margin-left: -2%;
    border: 1px dashed #fff;
    height: 2px;
    margin-top: 7%;
    margin-bottom: 3%;
  }

  .we-give p {
    text-align: left;
    width: 84vw;
    font-size: 14px;
    margin-left: -26px;
    transition: all 0.4s ease;
    margin-top: 27px;
    color: #e3e3e3;
  }

  .we-use p {
    text-align: left;
    width: 80vw;
    font-size: 14px;
    margin-left: -8%;
    margin-top: 9%;
    color: #e3e3e3;
  }

  .we-give {
    max-width: 61vw;
    margin-left: 0;
    margin-top: 6%;
  }

  .we-use {
    margin-left: 0;
    margin-top: 35%;
  }

  .core-values {
    padding-bottom: 7%;
  }

  .we-give h1 {
    font-size: 2.4rem;
    font-family: "Ppeditorialnew, Times New Roman, sans-serif";
    font-style: italic;
    word-spacing: 4px;
    letter-spacing: 0px;
  }

  .we-help-u p {
    text-align: left;
    width: 80vw;
    font-size: 14px;
    margin-left: -5%;
    margin-top: 9%;
    color: #e3e3e3;
  }

  .we-help-u {
    max-width: 84vw;
    margin-left: 0%;
    margin-top: 32%;
  }

  #we-give-one {
    transition: all 0.4s ease;
    margin-left: -2%;
    margin-top: 17%;
  }

  .our-relationship h1 {
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  #rotate-flower {
    display: none;
  }

  .how-para p {
    max-width: 83%;
    text-align: center;
    font-size: 15px;
    margin-top: 5%;
    color: #d3cfcf;
  }

  .number-head h2 {
    font-size: 1.3rem;
  }

  #number-para1,
  #number-para3,
  #number-para4 {
    font-size: 16px;
    max-width: 86%;
    line-height: 1.4;
  }

  #number-para1 {
    font-size: 16px;
    max-width: 86%;
    line-height: 1.5;
    margin-top: 24px;
  }

  .number1 .number-head h2 {
    font-size: 2rem;
  }

  .red-count {
    width: 50px;
    height: 50px;
    background-color: #ff2c46;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "fangsong";
  }

  .yellow-count {
    width: 50px;
    height: 50px;
    background-color: #f4a100;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "fangsong";
  }

  .blue-count {
    width: 50px;
    height: 50px;
    background-color: #4845ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "fangsong";
  }

  .green-count {
    width: 50px;
    height: 50px;
    background-color: #13c93b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "fangsong";
  }

  .number-head h2 {
    font-size: 1.3rem;
    margin-top: 4%;
    color: #e1e1e1;
  }

  .number2 {
    margin-top: 15%;
  }

  #number-para2 {
    font-size: 17px;
    max-width: 76%;
    margin-top: 10px;
  }

  .number2 ul li {
    font-family: "calibri";
    font-size: 16px;
    margin-top: 2%;
    max-width: 90%;
  }

  .numbers-dot {
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
  }

  .number3 {
    margin-left: 0;
  }

  .number3 li {
    font-family: "calibri";
    font-size: 17px;
    margin-top: 3%;
    margin-top: 10px;
  }

  .cogguarted-tanks-info-df {
    flex-direction: column;
  }

  .cogguarted-tanks-info-para,
  .coggurated-fins-walls-content {
    max-width: 100%;
  }

  .cogguarted-tanks-info-para p,
  .coggurated-fins-walls-content p {
    font-size: 14px;
  }

  .number-head h2 {
    font-size: 2rem;
  }

  .design-expert {
    margin-top: 21%;
  }

  .ideas h1 {
    font-size: 1.5rem;
    text-wrap: nowrap;
    color: #e3e0e0;
  }

  .coruggated-image img,
  .coggurated-fins-walls-img img {
    width: 278px;
    margin-top: 15%;
    margin-left: -7%;
  }

  .coggurated-fins-walls-df {
    flex-direction: column-reverse;
  }

  .coggurated-fins-walls-heading h1 {
    margin-top: 35%;
  }

  .quality-df {
    flex-direction: column;
  }

  .quality-content {
    max-width: 100%;
  }

  .more-content-dots {
    width: 5px;
    height: 5px;
  }

  .quality-img img {
    width: 270px;
    margin-left: 7%;
    margin-top: 8%;
  }

  .quality,
  .testing {
    margin-top: 16%;
  }

  .testing-dis-fl {
    flex-direction: column-reverse;
  }

  .testing-image img {
    width: 300px;
    margin-left: 5%;
    margin-top: 5%;
  }
  .testing-control ul {
    max-width: 100%;
  }

  .testing-dis-fl ul li {
    font-size: 14px;
  }

  .testing-dots {
    width: 4px;
    height: 4px;
  }

  .certificatiion {
    margin-top: 20%;
  }

  .certi-image {
    flex-direction: column;
  }

  .companyVision-text {
    transform: translateY(10%);
  }

  .certi-image img {
    width: 115px;
    margin-top: 1%;
  }

  .ideas {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
  }

  .design-carasoul {
    margin-top: 16%;
  }

  #little {
    text-align: center;
    font-size: 16px;
    margin-top: 8%;
    color: #e8e8e8;
  }

  #core-sun-small {
    width: 35px;
  }

  .little-top {
    margin-top: 1%;
  }
}

@media screen and (min-width: 470px) and (max-width: 768px) {
  .we-give p {
    text-align: left;
    width: 53vw;
    font-size: 16px;
    margin-left: -2%;
    transition: all 0.4s ease;
    margin-top: 27px;
    color: #e3e3e3;
  }

  .we-use p {
    text-align: left;
    width: 50vw;
    font-size: 16px;
    margin-left: -1%;
    margin-top: 7%;
    color: #e3e3e3;
  }

  .use-border {
    transition: all 0.3s ease-in;
    width: 81vw;
    margin-left: 0;
    border: 1px dashed #fff;
    height: 2px;
    margin-top: 6%;
    margin-bottom: 3%;
  }

  .we-help-u p {
    text-align: left;
    width: 50vw;
    font-size: 16px;
    margin-left: -1%;
    margin-top: 7%;
    color: #e3e3e3;
  }

  .our-relationship h1 {
    font-size: 3rem;
    text-transform: uppercase;
  }

  #second {
    position: absolute;
    margin-top: 4%;
    left: 13%;
  }

  #third {
    left: 21%;
  }

  #fourth {
    position: absolute;
    margin-top: -5%;
    left: 28%;
  }

  #fifth {
    position: absolute;
    margin-top: 1%;
    left: 36%;
  }

  #six {
    position: absolute;
    margin-top: 10%;
    left: 46%;
  }

  #seven {
    position: absolute;
    margin-top: 8%;
    left: 55%;
  }

  #eight {
    position: absolute;
    margin-top: 16%;
    left: 63%;
    display: fle;
  }

  #nine {
    position: absolute;
    margin-top: 24%;
    left: 63%;
  }

  #ten {
    position: absolute;
    margin-top: 32%;
    left: 68%;
  }

  #eleven {
    position: absolute;
    margin-top: 32%;
    left: 55%;
  }

  #twelve {
    position: absolute;
    margin-top: 36%;
    left: 44%;
  }

  #thirteen {
    position: absolute;
    margin-top: 34%;
    left: 33%;
  }

  #fourteen {
    position: absolute;
    margin-top: 44%;
    left: 67%;
  }

  #fifteen {
    position: absolute;
    margin-top: 51%;
    left: 60%;
  }

  #sixteen {
    position: absolute;
    margin-top: 53%;
    left: 50%;
  }

  #seventeen {
    position: absolute;
    margin-top: 54%;
    left: 39%;
  }

  #eighteen {
    position: absolute;
    margin-top: 64%;
    left: 35%;
  }

  #number-para1,
  #number-para4 {
    font-size: 21px;
    max-width: 68%;
    color: #000000;
    line-height: 1.4;
  }

  #number-para3 {
    font-size: 21px;
    max-width: 73%;
    color: #dddddd;
    line-height: 1.4;
  }

  #number-para2 {
    font-size: 21px;
    color: #000000;
    line-height: 1.4;
  }

  .number-head h2 {
    font-size: 1.6rem;
    margin-top: 4%;
  }

  .number2 {
    margin-top: 30%;
  }

  #core-sun-small {
    width: 50px;
  }

  .design-carasoul {
    margin-top: 11%;
  }

  .dit-guy h1 {
    font-size: 4rem;
  }

  .dit-guy p {
    font-size: 24px;
  }

  nav img {
    width: 67px;
    margin-top: 47%;
  }

  .ellipse1 {
    border: 1px solid #8c6700;
    width: 60vw;
    height: 70vw;
    border-radius: 50%;
    position: absolute;
    margin-top: 21%;
    margin-left: 13%;
    animation: ellipse1-trans1 10s infinite alternate-reverse;
  }

  .ellipse3 {
    border: 1px solid #8c6700;
    width: 60vw;
    height: 70vw;
    border-radius: 50%;
    position: absolute;
    margin-top: 21%;
    margin-left: 13%;
    animation: ellipse1-trans3 10s infinite alternate-reverse;
  }

  .about-us-info {
    margin-top: -5%;
  }

  .about-us-info-text-para p {
    font-size: 20px;
  }

  .about-us-info-image img {
    width: 641px;
    height: 300px;
  }

  .about-more-content p {
    font-size: 20px;
  }

  .about-more-content ul {
    margin-top: 10%;
  }

  .about-more-content ul li {
    font-size: 19px;
  }

  .number1 .number-head h2 {
    font-size: 2.5rem;
  }

  #number-para1,
  #number-para4 {
    font-size: 21px;
    max-width: 95%;
    color: #000000;
    line-height: 1.4;
  }

  .number2 .number-head h2 {
    font-size: 2.5rem;
  }

  .number2 {
    margin-top: 5%;
  }

  .number2 ul li {
    font-family: "calibri";
    font-size: 19px;
    margin-top: 2%;
    max-width: 90%;
  }

  .number-head h2 {
    font-size: 2.5rem;
  }

  .cogguarted-tanks-info-para p,
  .coggurated-fins-walls-content p {
    font-size: 18px;
    line-height: 1.6;
  }

  .coruggated-image img,
  .coggurated-fins-walls-img img {
    width: 500px;
  }

  .quality-df p {
    font-size: 18px;
  }

  .quality-img img {
    width: 500px;
  }

  .testing-control {
    font-size: 19px;
  }

  .testing-image img {
    width: 500px;
  }

  .certi-image {
    flex-direction: row;
  }

  .testing-dis-fl ul li {
    font-size: 19px;
  }
}

@media screen and (min-width: 787px) and (max-width: 1024px) {
  .we-give p {
    text-align: left;
    font-size: 16px;
    margin-left: -2%;
    transition: all 0.4s ease;
    margin-top: 27px;
    color: #e3e3e3;
  }

  .cor-sun-df h1 {
    font-size: 4.5rem;
    margin-top: 12%;
    font-family: "Poppins";
    transition: all 0.2s ease-in;
  }

  .we-give {
    max-width: 61vw;
    margin-left: 22%;
    margin-top: 10%;
  }

  .our-relationship h1 {
    font-size: 6rem;
    text-transform: uppercase;
  }

  .how-para p {
    max-width: 38%;
    text-align: center;
    font-size: 18px;
  }

  #number-para1 {
    font-size: 22px;
    max-width: 60%;
    margin-top: 10px;
  }

  #number-para3 {
    font-size: 22px;
    max-width: 65%;
    margin-top: 10px;
  }

  .number1,
  .number2,
  .number3 {
    margin-top: 20%;
  }
}
